@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100 & display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #16354D;
}
.message__inner-nam a {
  text-decoration: none;
  font-size: 20px;
  color: #6B99C3;
}

.mass,
.form_field span,
.message__inner-error {
  font-family: sans-serif;
  font-size: 14px;
  padding-right: 5px;
}
.message__inner .message__inner-name {
  font-size: 13px;
  margin: 0;
}
.message__inner-massage {
  text-decoration: none;
  font-size: 20px;
}
.message__inner  {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid  #eef0f3;
}
.message__inner:last-child {
  border-bottom: none;
}
.message__inner p {
  margin: 0;
}
.message__inner-link {
  font-size: 13px;
  margin: 0;
  text-decoration: none;
  margin-top: 13px;
  display: block;
  color: #6B99C3;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mass {
  font-weight: normal;
  color: #fff;
  padding: 10px 15px;
  margin: 0;
  background-color: #6B99C3;
  border-radius: 4px;
  margin-bottom: 10px;
}

.form_field {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form_field input {
  border: 1px solid #eef0f3;
  width: 250px;
  border-radius: 4px;
  padding: 8px 10px;
}
.form_field textarea { 
  border: 1px solid #eef0f3;
  width: 250px;
  border-radius: 4px;
  padding: 8px 10px;
  min-height: 100px;
}
.btn {
  border-radius: 4px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  background: #6b99c3;
  margin-top: 10px;
}

.form_field span {
  max-width: 180px;
  padding-top: 2px;
  color: #f36b6b;
  margin-left: 10px
}
.message__inner-error {
  color: #f36b6b;
  display: block;
}

.message__row .bold .message__inner-massage {
  font-weight: 600;
}
.message__row .normal .message__inner-massage {
  font-weight: normal;
}
